<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1>Your todoitem is due</h1>

<div>
    Item description: {{ description }}
</div>
<div>
    Item due date: {{ dueDate | date('d.m.Y') }}
</div>

Please, do not respond to this email since the email was sent automatically by the service.

</body>
</html>
